/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    display: flex;
    align-items: center;
    background-color: #007acc;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
    background-image: linear-gradient(to right, #007acc , #003366);
}

header h1 {
    margin: 0;
    font-size: 30px;
}

header img {
    width: 4.25vw;
    vertical-align: middle;
    margin-right: 15px;
}

.float-container {
    overflow: auto;
    background-color: #e7e7e7;
}

section {
    float: left;
    width: 70%;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    background-color: #fff;
    box-sizing: border-box;
}

section h2 {
    text-align: center;
    font-size: 35px;
}

section img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
}

section > p {
    text-align: center;
}

aside {
    float: right;
    width: 30%;
    padding: 25px;
    background-color: #e7e7e7;
    box-sizing: border-box;
}

footer {
    font-size: 12px;
    clear: both;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
}

footer a {
    color: #59afe1;
}

footer a:hover {
    text-decoration: underline;
}

a {
    color: #007acc;
}

a:hover {
    color: #0057a3;
}
