<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
Name: Randy Elias Garcia
Date: 2/12/2024
Project: World Map App
Description: This app is being created for the D280 (JavaScript Programming) Performance Assessment.
The purpose of this project is to develop an interactive world map that gives the user information about countries around the globe.
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<header>
  <a href="index.html">
      <img src="./assets/seal.png" alt="Arizona State Logo">
  </a>
  <h1>State Government Office</h1>
</header>
<!-- <nav>
  <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="phoenix.html">Phoenix</a></li>
      <li><a href="tucson.html">Tucson</a></li>
      <li><a href="flagstaff.html">Flagstaff</a></li>
  </ul>
</nav> -->
<div class="float-container">
  <section>
      <h2>World Map</h2>
      <img src="./assets/grand_canyon.jpg" alt="The Grand Canyon">
      <p>This is where the SVG map will be displayed for the user to select a country</p>
  </section>
  <aside>
      <h3>Country Data...</h3>
      <p>This is where the country information will be displayed for the user...</p>
  </aside>
</div>
<footer>
  <p>
      &#169; 2024 State Government Office<br/>
      <a href="">Terms and Conditions</a><br/>
      <a href="">Privacy policy</a>
  </p>
</footer>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
